/* =======================google font start======================= */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* =======================google font end======================= */

/* ===================universal selector start=================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}
/* ===================universal selector end=================== */

/* ======================shard style start====================== */
:root {
  --bg-color: #f5f8ff;
  --primary-color: #252432;
  --secondary-color: #8987a1;
  --blue-color: #4e47ff;
  --white-color: #ffff;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
button {
  padding: 12px 36px;
  background: var(--blue-color);
  color: var(--white-color);
  border-radius: 10px;
  font-size: 16px;
  transition: all;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
button:hover {
  background: #00009c;
  transition-duration: 5000;
}
.section_title {
  font-size: 42px;
  font-weight: 700;
  color: var(--primary-color);
}
.section_sub_title {
  font-size: 24px;
  color: var(--secondary-color);
}
/* ======================shard style end ======================= */

/* ======================body section start====================== */
body {
  background: var(--bg-color);
}
/* ======================body section end====================== */

/* ====================header section start==================== */
header {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
header nav a {
  font-size: 34px;
  font-weight: 900;
  color: var(--blue-color);
  font-family: "Inter", sans-serif;
}
.hero_section {
  padding: 200px 0;
  text-align: center;
}
.hero_section h1 {
  font-size: 65px;
  margin-bottom: 37px;
  font-weight: 700;
  color: var(--primary-color);
}
/* ====================header section end==================== */

/* ====================action section start==================== */
.action_section {
  padding: 116px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action_section .action_content {
  width: 517px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.action_section .action_image img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}
/* ====================action section end==================== */

/* ====================productive user section start==================== */
.productive_user_section {
  background: #4e47ff1a;
  padding: 50px 80px;
  border-radius: 24px;
  text-align: center;
}
.productive_user_section h2 {
  font-size: 38px;
}
.productive_user_section .productive_users_container {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}
.productive_user_section .productive_users_container .productive_users_item h3 {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: var(--blue-color);
}
.productive_user_section .productive_users_container .productive_users_item p {
  font-size: 20px;
  color: var(--secondary-color);
}
/* ====================productive user section end==================== */

/* ====================What our users say section start==================== */
.users_say_section {
  padding: 137px 0;
}
.users_say_section h2 {
  text-align: center;
  margin-bottom: 50px;
}
.users_say_card_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.users_say_card_item {
  padding: 24px;
  border-radius: 14px;
  background: #ffffff80;
}
.users_say_card_item .card_icon {
  display: flex;
  align-items: center;
  gap: 1px;
  margin-bottom: 24px;
}
.users_say_card_item .card_icon img {
  width: 20px;
  height: 20px;
}
.users_say_card_item h3 {
  font-size: 24px;
  margin-bottom: 8px;
  color: #1e1e1e;
}
.users_say_card_item p {
  font-size: 16px;
  margin-bottom: 24px;
  color: #1e1e1e;
}
.users_say_card_item .card_profile {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 12px;
}
.users_say_card_item .card_profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.users_say_card_item .card_profile .card_profile_content h4 {
  font-size: 16px;
  color: #757575;
  margin-bottom: 2px;
  font-weight: 600;
}
.users_say_card_item .card_profile .card_profile_content p {
  font-size: 16px;
  color: #b3b3b3;
}
.users_say_card_item .card_profile {
}
.users_say_card_item .card_profile {
}
/* ====================What our users say section end==================== */

/* ====================Ready to focus better section start==================== */
.focus_better_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 71px 150px;
  background: var(--white-color);
  border-radius: 24px;
  text-align: center;
}
.focus_better_section h1 {
  font-size: 45px;
  color: #000;
}
.focus_better_section p {
  font-size: 16px;
  color: #00000080;
}
.focus_better_section img {
  border-radius: 48px;
}
/* ====================Ready to focus better section end==================== */

/* ====================get_in_touch section start==================== */
.get_in_touch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0;
}
.get_in_touch_content {
  width: 528px;
}
.get_in_touch_content h1 {
  font-size: 97px;
  font-weight: 700;
}
.get_in_touch form {
  width: 497px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  font-family: "Inter", sans-serif;
}
.get_in_touch form div {
  display: flex;
  flex-direction: column;
}
.get_in_touch form div label {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  margin-bottom: 8px;
}
.get_in_touch form div input,
textarea {
  padding: 20px 32px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
}
/* ====================get_in_touch section end==================== */
