/* =======================google font start======================= */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* =======================google font end======================= */

/* ===================universal selector start=================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}
/* ===================universal selector end=================== */

/* ======================shard style start====================== */
:root {
  --bg-color: #f5f8ff;
  --primary-color: #252432;
  --secondary-color: #8987a1;
  --blue-color: #4e47ff;
  --white-color: #ffff;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
button {
  padding: 12px 36px;
  background: var(--blue-color);
  color: var(--white-color);
  border-radius: 10px;
  font-size: 16px;
  transition: all;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
button:hover {
  background: #00009c;
  transition-duration: 5000;
}
.section_title {
  font-size: 42px;
  font-weight: 700;
  color: var(--primary-color);
}
.section_sub_title {
  font-size: 24px;
  color: var(--secondary-color);
}
/* ======================shard style end ======================= */

/* ======================body section start====================== */
body {
  background: var(--bg-color);
}
/* ======================body section end====================== */

/* ====================header section start==================== */
header {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
header nav a {
  font-size: 34px;
  font-weight: 900;
  color: var(--blue-color);
}
.hero_section {
  padding: 200px 0;
  text-align: center;
}
.hero_section h1 {
  font-size: 65px;
  margin-bottom: 37px;
  font-weight: 700;
  color: var(--primary-color);
}
/* ====================header section end==================== */

/* ====================action section start==================== */
.action_section {
  padding: 116px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action_section .action_content {
  width: 517px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.action_section .action_image img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}
/* ====================action section end==================== */
